version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: docvista_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: docvista
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: docvista_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
